<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model npm and webpack</title>
</head>
<body>

    <section class="container">
        <div class="box">
            <h1>Pessoas</h1>

            <div class="result"></div>
        </div>
    </section>
    

    <!-- CDN for Axios -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

    <!-- Link for JS script -->
    <script src="./assets/js/bundle.js"></script>
</body>
</html>